// Overall
$background: #EEE9F2;
$hr: rgb(183, 100, 229);

// Navigation
$nav_link: rgb(30, 3, 45);
$nav_hover_link: $nav_link;
$nav_border_bottom_link_selected: rgb(78, 15, 112);
$nav_border_bottom_link_hover: $hr;

// Blog contents
$ul_li_link: rgb(78, 15, 112);
$link: rgb(78, 15, 112);
$hover_link: rgb(183, 100, 229);
$text: rgb(30, 3, 45);
$ol_li_background: #313FAD;
$ol_li_foreground: white;
$gen_info_right_border: black;
$header_color: rgb(78,15,112);

$header_font: 'Francois One';
$body_font: 'Lato';
